 $primaryColor: #18181b;
 $secondaryColor: #26c5b2;
 $primaryTextColor: #f4f4f5;
 $secondaryTextColor: #868d96;
 $mobileBreakpoints: 489px;
 $tabletBreakpoints: 724px;
 $desktopBreakpoints: 1312px;
 $headimgFontsize: 48px;
 $spaceY: 4rem 2rem 0 0;